main {
  margin-top: 60px;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

.btn-space {
  margin-right: 10px;
}

.ml {
  margin-left: 20px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  margin-bottom: 0px;
}

#completedTaskList .content {
  color: grey;
  text-decoration: line-through;
}